cpu_freq = 3000000
console_rom = ../roms/994aROM.Bin
console_groms = ../roms/994AGROM.Bin

#cart_rom = ../modules/XB29GEMC.BIN
cart_groms = ../modules/Ed-AssmG.Bin

mem_ext = 1

disksim_dsr = ../roms/disksim.bin
disksim_dir = ../diskfiles

fdc_dsr = ../roms/Disk.Bin
fdc_dsk1 = ../diskimages/EA-JEWEL.dsk
